html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Public Sans';
    
    color: hsl(233, 26%, 24%);
}

p {
    color: hsl(233, 8%, 62%);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 10rem;
    height: 2.5rem;
    border: 0;
    border-radius: 1rem;
    color: white;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: white;
    align-items: center;
    z-index: 100;
}

nav>.nav-items>ul {
    display: flex;
    gap: 2rem;
}


nav>.nav-items>ul>li {
    padding: 0 1vw 0 1vw;
    border-bottom-style: solid;
    padding-bottom: 3vh;
    border-bottom-color: white;
}

nav a {
    display: none;
}


nav>.nav-items>ul>li:hover {
    cursor: pointer;
    border-bottom-color: hsl(136, 65%, 51%);
}

/* --------------------------------- Section One ---------------------- */

.section-one {
    background-color: hsl(220, 16%, 96%);
    position: relative;
    
}

.section-one>.section-one-container {
    display: flex;
    
    
    
}

.section-one>.section-one-container>.column-1 {
    width: 40%;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7.5vw;
    
}

.section-one>.section-one-container>.column-1>h1 {
    font-size: 3.5rem;
}

.section-one>.section-one-container>.column-2 {
    width: 60%;
    height: 80vh;
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: 4rem;
    background-position-y: -18rem;
    overflow-x: clip;
}

.over-image {
    width: 60%;
    top: 0;
    right: 0;
    display: flex;
    float: right;
    margin-right: 0px;
    text-align: right;
    position: absolute;
    transform: translateX(12rem) translateY(-4rem);
}

.over-image img {
    max-width: 100%;
    height: auto;
}

/* ----------------------------------Section two-------------------------- */

.section-two>.section-two-part-1 {
    padding: 70px 0px 40px 7.5vw;
}

.section-two>.section-two-part-2 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    gap: 3rem;
    flex-wrap: wrap;
}

.section-two>.section-two-part-2>.card {
    max-width: 275px;
}



/* -----------------------Section three --------------------------- */

.section-three {
    background-color: hsl(0, 0%, 98%);
}

.section-three>h2 {
    padding: 50px 0px 0px 7.5vw;
    
}

.section-three>.section-three-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 80px;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.section-three>.section-three-container>.card1 {
    max-width: 275px;
    border-radius: 10px;
    background-color: white;
}

.section-three>.section-three-container>.card1>img {
    width: 275px;
    height: 183px;
    border-radius: 10px 10px 0 0;
}

.section-three>.section-three-container>.card1>p {
    text-align: justify;
}

.section-three>.section-three-container>.card1>.content-spacing {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0.7rem;
}

.section-three>.section-three-container>.card1>.content-spacing>h3:hover {
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}

/* ------------------------Section four----------------------- */

.section-four {
    background-color: hsl(233, 26%, 24%);
    color: white;
    
}

.section-four>.section-four-content {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
}

.section-four>.section-four-content>.section-four-part-one {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 3rem;
}

.section-four>.section-four-content>.section-four-part-one>.col-1 {
    margin-top: auto;
    margin-bottom: auto;
}

.section-four>.section-four-content>.section-four-part-one>.col-1>.logo {
    margin-bottom: 20px;
}

.section-four>.section-four-content>.section-four-part-one>.col-1>.other-logos>img {
    padding-right: 5px;
}
.section-four>.section-four-content>.section-four-part-one>.col-1>.other-logos> img:hover {
    filter: invert(71%) sepia(28%) saturate(700%) hue-rotate(82deg) brightness(87%) contrast(70%);
}

.section-four>.section-four-content>.section-four-part-one>.col-2>ul>li {
    padding: 10px;          
}

.section-four>.section-four-content>.section-four-part-one>.col-3>ul>li {
    padding: 10px;
}

.section-four>.section-four-content>.section-four-part-one>.col-2>ul>li:hover,.section-four>.section-four-content>.section-four-part-one>.col-3>ul>li:hover {
    cursor: pointer;
    color: #31d35c;
}

.section-four>.section-four-content>.section-four-part-two {
    width: 50%;
    text-align: right;
}

.section-four>.section-four-content>.section-four-part-two>button {
    margin-bottom: 30px;
}


/* Media width 420px */
/* Actual given width 375px */

@media screen and (max-width:420px) {
    p {
        padding: 5px 0px;
        
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        
        font-size: 3.5vh;
        font-weight: 400;
    }
    
    nav {
        padding: 40px 30px;
        margin: 0px;
        text-align: left;
        justify-content: space-between;
    }
    
    nav a {
        display: block;
    }
    
    .nav-items {
        display: none;
    }
    
    nav button {
        display: none;
    }
    
    .top-nav {
        display: none;
        top: 110px;
        right: 50px;
        position: absolute;
        z-index: 100;
        background-color: white;
    }
    
    .mylinks>ul {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .mylinks>ul>li {
        
        padding: 10px 110px;
    }
    
    .section-one>.section-one-container {
        flex-direction: column-reverse;
    }
    
    .section-one > .section-one-container > .column-1 > h1 {
        font-size: 2.5rem;
        color: rgb(116, 115, 115);
    }
    
    .section-one>.section-one-container>.column-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 70px 40px 40px 40px;
    }
    
    
    .section-one>.section-one-container>.column-2 {
        width: 100%;
        height: 43vh;
        background-image: url("../images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: 0rem;
        background-position-y: 1.3rem;
        overflow-x: clip;
    }
    
    
    .section-two-part-1>h2 {
        font-size: 2.8vh;
    }
    
    .section-two-part-2>.card>h3 {
        font-weight: 300;
        font-size: 2vh;
    }
    .section-two > .section-two-part-2 > .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
    }
    .section-two > .section-two-part-2 > .card > img {
        max-width: 150px;
    }
    .section-three>h2 {
        padding: 0px;
        text-align: center;
    }
    .section-three > .section-three-container > .card1 > .content-spacing >  h3 {
        font-size: 1.5rem;
    }
    
    .section-four>.section-four-content {
        flex-direction: column;
        text-align: center;
    }
    
    .section-four>.section-four-content>.section-four-part-one {
        width: 100%;
        flex-direction: column;
        gap: 0.7rem;
        padding-bottom: 30px;
    }
    
    .section-four>.section-four-content>.section-four-part-two {
        width: 100%;
        text-align: center;
    }
    
    .section-two>.section-two-part-1 {
        padding: 50px;
        text-align: center;
    }
    
    .over-image {
        width: 100%;
        top: 0;
        display: flex;
        float: none;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: absolute;
        transform: translateX(0rem) translateY(0rem);
    }
    
    .over-image img {
        max-width: 90%;
        height: auto;
    }
    
}